// Import dependencies
@import 'node_modules/materialize-css/sass/materialize.scss';

$secondary-color: #125688;
$avatar-size: 45px;

* {
  box-sizing: border-box
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: $secondary-color;
  font-family: Monserrat;
}

.main-image {
  display: inline-block;
  max-width: 100%;

  h1 {
    color: red;
  }
}

.platzigram {
  font-family: 'Oleo Script';
  font-size: 42px;
  color: $secondary-color !important;
}

.header {
  background-color: #fff;
  color: $secondary-color;
  box-shadow: none;
}

.timeline {
  padding: 30px 0;
}

.avatar {
  max-width: $avatar-size;
  border-radius: $avatar-size;
  margin-right: 12px;
  float: left;
}

.card-title, .card-content {
  overflow: hidden;
}

.card {
  .username {
    color: $secondary-color;
  }

  .time {
    line-height: $avatar-size;
  }

  p {
    padding: 20px;
  }

  .likes {
    line-height: 30px;
    margin-left: 12px;
  }

  i {
    font-size: 30px;
  }

  .icon {
    color: $secondary-color;
  }
}
